@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Authorization
@using Blazored.LocalStorage

@inject ILocalStorageService LocalStorage

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <a href="http://blazor.net" target="_blank">Hello, @UserName</a>
            </Authorized>
        </AuthorizeView>
        <a href="http://blazor.net" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    public string UserName { get; set; }

    protected async override void OnInitialized()
    {
        UserName = await LocalStorage.GetItemAsync<string>("UserName");
    }
}