@using System.Globalization

@inject ILocalizationService LocalizationService
@inject NavigationManager NavigationManager

<div class="form-group navbar-nav ml-auto nav-flex-icons">
    <select class="form-control bg-primary navbar-text font-weight-bold" @bind="Culture" name="@nameof(Culture)">
        @foreach (var culture in SupportedCultures)
        {
            <option class="option-item" value="@culture">@culture.DisplayName</option>
        }
    </select>
</div>

@code
{
    public IReadOnlyCollection<CultureInfo> SupportedCultures { get; set; } = new List<CultureInfo>().AsReadOnly();

    protected override void OnInitialized()
    {
        SupportedCultures = LocalizationService.GetAvaliableCultures();
    }

    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            var isChanged = LocalizationService.SetCulture(value);

            if (isChanged)
            {
                NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
            }
        }
    }
}